#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.schedule-item-completed {
    position: relative;
    /* You can add a checkmark or other indicator here using ::after pseudo-element */
}


